@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  background-color: white;
  background-image: url('images/bg-day.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  width: 80%;
  margin: 75px auto 0 auto;
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

header h2 {
  margin-bottom: 1.5em;
}

#Fish-Emoji {
  font-size: 3em;
}


#fish {
  max-width: 30%;
  position: relative;
  animation-duration: 4s;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move {
  from {
    left: 0;
    top: 0px;
    transform: rotate(0.1turn);
  }

  25% {
    top: 50px;
    transform: rotate(-0.1turn);
  }

  50% {
    top: 0px;
    transform: rotate(0.1turn);
  }

  75% {
    top: -50px;
    transform: rotate(-0.1turn);
  }

  to {
    left: 50%;
    top: 0px;
    transform: rotate(0.1turn);
  }
}

@media (min-width: 640px) {
  header {
    font-size: 3em;
  }
  #fish {
    width: 192px;
  }
}